<!DOCTYPE html>
<html>
<head>
    <title>bemhint</title>
    <meta charset="utf-8">
    <style type="text/css">
{{stylesheet}}
    </style>
</head>
<body>
    <div class="header">
        <p class="header__title">{{title}}</p> {{#if errors.length}}{{errors.length}}{{/if}}
    </div>
{{#errors}}
    <div class="error">
        <strong class="error__message">{{msg}}</strong> at
        <span class="error__path">{{path}}</span> {{#if value}}:{{/if}}{{#if location}}{{location.line}}
            <pre class="error__source">{{split location.sourceLine location.column 'error__source'}}</pre>
        {{/if}}
        <div class="error__value">{{value}}</div>
    </div>
{{/errors}}
</body>
</html>
