<!DOCTYPE html>
<html>
<head>
    <title>Bemhint</title>
    <meta charset="utf-8">
    <style type="text/css">
{{stylesheet}}
    </style>
</head>
<body>
    <div class="title">
        <p><b>{{title}}</b>{{#if errors.length}}{{errors.length}}{{/if}}</p>
    </div>
{{#errors}}
    <div class="error">
        <div class="error__message">{{msg}} at </div>
        <div class="error__path">{{path}}</div> :
        <div class="error__value">{{value}}</div>
        <div class="error__footer"></div>
    </div>
{{/errors}}
</body>
</html>
